<a href="#" class="login-btn">Har du ett konto? <br />Logga in här! </a>  
<div class="login white-form-box ">

<% unless user_signed_in? %>
  <%= render "devise/shared/login_form" %>
<% else %>
  <h1> You are signed in to Remind.me </h1>

<% end %>

</div>

<div class="remindme-features">
  <div class="row" >
   <div class="span3">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="120px" height="120px" viewBox="0 0 88 100" enable-background="new 0 0 88 100" space="preserve" style="fill: #FFF; margin-top: 50px;"> <path d="M0,32v59.906C0,96.377,3.582,100,8,100h72c4.418,0,8-3.623,8-8.094V32H0z M22,94H6V78h16V94z M22,74H6V58h16V74z M22,54H6 V38h16V54z M42,94H26V78h16V94z M42,74H26V58h16V74z M42,54H26V38h16V54z M62,94H46V78h16V94z M62,74H46V58h16V74z M62,54H46V38h16 V54z M82,94H66V78h16V94z M82,74H66V58h16V74z M82,54H66V38h16V54z"></path> <path d="M80,12H67V3c0-1.657-1.344-3-3-3c-1.657,0-3,1.343-3,3v9H27V3c0-1.657-1.344-3-3-3c-1.657,0-3,1.343-3,3v9H8 c-4.418,0-8,3.623-8,8.093V27v0v1h88v-1v0v-6.907C88,15.623,84.418,12,80,12z M24,26c-3.313,0-6-2.687-6-6 c0-2.219,1.209-4.152,3-5.19V20c0,1.657,1.343,3,3,3c1.656,0,3-1.343,3-3v-5.191c1.792,1.038,3,2.972,3,5.191 C30,23.313,27.314,26,24,26z M64,26c-3.313,0-6-2.687-6-6c0-2.219,1.209-4.152,3-5.19V20c0,1.657,1.343,3,3,3c1.656,0,3-1.343,3-3 v-5.191c1.792,1.038,3,2.972,3,5.191C70,23.313,67.314,26,64,26z"></path> </svg>
    </div>
    <div class="span5">
      <h2>Enkelt och smart</h2>
      <p> RemindMe är ett webbaserat mobilt påminnelsestöd specifik utformat för personer som behöver stöd för att utveckla vanor och rutiner, framförallt sådana som underlättar för dem att organisera sin tid och få struktur på vardagen.  RemindMe är ett hjälpmedel som innehåller flera olika funktioner och ger individuellt anpassat påminnelsestöd samt stöd vid planering och strukturering i vardagen. RemindMe är kompatibelt med Googlekalendern, en lätthanterlig, gratis och kommersiellt tillgänglig produkt som ger planerings- och påminnelsestöd. Personen lägger själv eller tillsammans med en stödperson in händelser, aktiviteter och påminnelser i Google kalendern..</p>
    </div>
</div>

<div class="row" >
   <div class="span5">
    <h2>Direkt i Telefonen</h2>
    <p>  Påminnelser kan läggas in via webbkalendern. Det webbaserade mobila påminnelsestödet använder mobilen som plattform och för varje påminnelse om en aktivitet som ska utföras skickas ett SMS till användarens mobiltelefon. RemindMe är kompatibel till alla mobiltelefoner. Användaren ska via SMS aktivt bekräfta om han/hon kommer att utföra aktiviteten eller inte vilket sparas av den unika feedback funktionen som kan användas för uppföljning, vidare planering och utvärdering. Den unika feedback funktion erbjuder användaren och stödpersonen följande återkoppling: 
  <ul>
    <li>Grafisk översikt över dagens, veckans och månadens händelser (Antal planerade aktiviteter med påminnelse)</li>
    <li>Svarsfrekvens i realtid (Antal påminnelser som bekräftats via SMS i realtid gör att man i samma stund som användaren bekräftar SMS får en  återkoppling i webbkalendern och statistiken).</li>
    <li>Svarshastighet (Snittresultat av tid för påminnelse och SMS-feedback)</li>
    <li>Behörighetshantering</li>
    <li>Gemification (Användaren utmana sig själv i att bli bättre på att planera in och svara på påminnelser)</li>
    <li>mycket mer...</li>
  </ul>

     </p>
    </div>
  <div class="span3">
<svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="160px" height="160px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" space="preserve" style="fill: #FFF ; margin-top: 50px; margin-left: 40px;"> <path d="M64,21.245C64,18.9,62.101,17,59.757,17H26.243C23.9,17,22,18.9,22,21.245v72.51C22,96.1,23.9,98,26.243,98h33.514 C62.101,98,64,96.1,64,93.755V21.245z M38.004,23h10.226c0.376,0,0.681,0.609,0.681,1s-0.305,1-0.681,1H38.004 c-0.373,0-0.678-0.609-0.678-1S37.631,23,38.004,23z M43.104,94.925c-2.148,0-3.89-1.742-3.89-3.891s1.742-3.891,3.89-3.891 c2.149,0,3.891,1.742,3.891,3.891S45.252,94.925,43.104,94.925z M63,86H23V28h40V86z"></path> <path d="M67.518,15.209c1.581,1.58,2.415,3.589,2.465,5.512c0.529-2.166-0.045-4.547-1.736-6.238 c-1.692-1.692-4.073-2.266-6.238-1.736C63.929,12.796,65.941,13.629,67.518,15.209z"></path> <path d="M71.423,11.303c2.1,2.099,3.208,4.769,3.273,7.322c0.703-2.877-0.06-6.04-2.308-8.288c-2.248-2.249-5.408-3.011-8.288-2.306 C66.655,8.097,69.325,9.204,71.423,11.303z"></path> <path d="M75.33,7.397c2.619,2.618,3.997,5.948,4.083,9.135c0.878-3.59-0.075-7.536-2.878-10.341 c-2.806-2.804-6.749-3.754-10.341-2.876C69.38,3.398,72.712,4.779,75.33,7.397z"></path> </svg>
  </div>
</div>

<div class="row" >
   <div class="span8">
  <p>RemindMe är en webbaserad lösning utvecklad i nära samarbete med ledande företag i branschen och ger dig som stödperson stora möjligheter att anpassa hjälpmedlet efter varje individs förutsättningar och behov. RemindMe erbjuder också möjligheter att hjälpa användaren att lägga in aktiviteter och påminnelser och att följa upp och utvärdera användningen.</p>

 <p style="text-align:center"> <a href="mailto:info@remindme.se" class="login-btn" style="width: 300px; margin-top: 40px;">Kontakta oss för en demonstration</a>  
 </p>
  
  </div>

</div>


<% content_for :page_script do %>
$(document).ready(function(){
  $('.login-btn').click(function(){
    $('.login').slideDown('fast');
    $('.login-btn').slideUp('fast');
  });

 });
<% end %>