/*!
 * FullCalendar v1.6.1 Print Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */

/*
 * Include this stylesheet on your page to get a more printer-friendly calendar.
 * When including this stylesheet, use the media='print' attribute of the <link> tag.
 * Make sure to include this stylesheet IN ADDITION to the regular fullcalendar.css.
 */
 
 
 /* Events
-----------------------------------------------------*/

.fc-header-left, .fc-header-right {
	display: none;
}

}
.fc-event {
	background: #fff !important;
	color: #000 !important;
}

#calendar {
	font-family: 'Source Sans Pro', sans-serif;
}
	
/* for vertical events */
	
.fc-event-bg {
	display: none !important;
}
	
.fc-event .ui-resizable-handle {
	display: none !important;
}
	
.nav {
	display: none;
}

.fc-widget-header, .fc-widget-content {
	border: 0px solid #CCC;
}