
.remindme-masthead {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}
.remindme-masthead .container{
  width: 640px;
  margin: 30px auto;
}
.remindme-masthead .logo {
  margin: 0px auto 30px;
}
.remindme-masthead h1{
  font-size: 80px;
  color: #FFFFFF;
  font-weight: 200;
  line-height: 1.4;
}
.remindme-masthead .lead{
  font-size: 28px;
  font-weight: 200;
  line-height: 36px
}


.login-btn {
   color: #fff;
   background-color: transparent;
   padding: 20px;
   border-radius: 8px;
   border: 1px solid #FFF;
   margin: 10px auto;
   width: 180px;
   font-weight: 600;
   font-size: 20px;
   font-family: 'Source Sans Pro', sans-serif;
   text-align: center;
   display: block
}

.login-btn:hover {
  background-color: #FFF;
  color: #7F53C4;
  text-decoration: none;

}


.white-form-box {
  background-color: #FFF;
  padding: 60px;
  width: 500px;
  border-radius:20px;
  margin: 10px auto;
  font-family: 'Source Sans Pro', sans-serif;
    color: #000;

}

.pull-right {
margin-right: 10px;
}

.login {
  display: none;
}


.remindme-features .row {
  margin: 5px inherit 40px;
}

.remindme-features{
  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
}

.remindme-features .row p {
  font-size: 18px ;
  line-height: 24px;
  font-weight: 300;
} 
.remindme-features .row li {
  font-size: 18px ;
  line-height: 24px;
  margin-bottom: 10px;
}

.remindme-features {
  width: 680px; margin: 50px auto;
}

.footer {
  background-color: #ccc;
  border: 0px solid transparent;
  padding: 5px;

}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 
  rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert.error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
