/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.

/*= require custom-theme_dp/jquery-ui-1.8.16.custom

/*= require_self

*/



div.calendar-list-view-item {
	padding: 5px 10px 0px 10px; 
	height:28px;
	margin: 0px 0px 10px 0px;
}

.select-date-range li {
	height: 40px;
	vertical-align: middle;

}
.select-date-range .period-tag {
	padding-top: 0px;
}

.select-date-range li a {
	line-height: 40px;
}

.calendar-list-view-item .sent-notifications{ 
	float: right;
	margin: 2px 0px 0px 0px; 
	padding: 2px 0px 0px 15px; 
	background-image: url('<%= asset_path 'statistics/notification.png' %>'); 
	background-position: top left; 
	background-repeat: no-repeat
}

.calendar-list-view-item .event-content {	
	float: left; margin-left: 10px
}

.calendar-list-view-item .event-content h4{	
	margin-top: 0.2em;
	font-size: 14px
}

.calendar-list-view-item .answer {
	float: left;
	background-image: url('<%= asset_path 'statistics/answers_sprite.png' %>'); 
	height: 22px; 
	width: 22px; 
}

.calendar-list-view-item .answer.yes {
	
}

.calendar-list-view-item .answer.no {
	background-position: -44px 0px
}

.calendar-list-view-item .answer.no-answer {
	background-position: -22px 0px
}