<% if flash[:error] %>
  <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
<% end %>

<div class="row">
<h2>Uppdatera information för: <%= current_user.name %> </h2>

<%= form_tag settings_path, :method => :put, :class => "form-horizontal span8" do %>
  <input type="hidden" name="_method" value="PUT" />
              <div class="control-group">
                <div class="control-label">
                  <label for="xlInput">Namn</label>
                </div>
                <div class="controls">
                  <%= text_field :user, :name, {:class => "span8", :placeholder => "Namn"} %>
                </div>
              </div>  
              <div class="control-group">
                <div class="control-label">
                  <label for="xlInput">Email</label>
                </div>
                <div class="controls">
                  <%= text_field :user, :email, {:class => "span8", :placeholder => "Email"} %>
                </div>
              </div>
              <div class="control-group">
                <div class="control-label">
                  <label for="xlInput">Telefon</label>
                </div>
                <div class="controls">
                  <%= text_field :user, :phone, {:class => "span8", :placeholder => "Mobilnr"} %>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <input type="submit" class="btn btn-success save" value="Spara" />
                </div>
              </div>
              <% end %>

          </div>