<% if flash[:error] %>
	<div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
<% end %>
  <% unless notice.nil? %>
    <div class="alert fade in">
      <button type="button" class="close" data-dismiss="alert">×</button> 
      <%= notice %> 
    </div>
  <% end %>

<h2>Inställningar för: <%= current_user.name %> </h2>

<div id="user-details-section" class="well">
	Epost:  <b><%= current_user.email %> </b> <br />
	Telefonnummer: <b><%= current_user.phone %></b> <br />
  <hr>
  <a href="<%= edit_settings_path %>">Ändra information</a>
</div>


<% if current_user.has_role?(:user) %>
<div id="support-persons-section>">
	<h4>Kalender tillgång</h4>
	<p> Du kan ge andra tillgång till din kalender, skriv in deras epost för att bjuda in dem</p>
	<%= form_tag(invite_user_settings_path(), :class => 'form-inline') do -%>
    <input type="text" placeholder="Epost address" name="email">
    <button type="submit" class="btn btn-primary">Bjud in</button>
	<% end -%>

	<h4>Har tillgång till din kalender:</h4>
	<div class="row">
		<div class="span4">
			<table class="table table-striped .table-bordered "> 
				<thead> 
					<tr> 
						<th>Email</th>  
						<th>Ta bort</th>  
					</tr> 
				</thead> 
				<tbody> 
				<% if @users_with_access_to_user.nil? || @users_with_access_to_user.empty? %>
					<tr> 
						<td>Inga inbjudna</td> 
						<td>-</td>
					</tr> 	
				<% end %>
				<% @users_with_access_to_user.each do |user| -%>
					<tr> 
						<td><%= user.email %></td> 
						<td><%= link_to "x",   remove_user_access_settings_path(:user_id => user)  %></td>
					</tr>
				<% end %>
				</tbody> 
			</table>
		</div>
	</div><!-- Closes row -->
</div><!-- Closes #support-persons-section -->


<div id="default-reminder-section">
	<h4>Påminnelser</h4>
	<div class="row">
		<div class="span6">
			<p>
				Du kan sätta standardpåminnelser som automatiskt sätts på nya händelser. 
				Du kan när som helst ändra dina inställningar för påminnelser.
			</p>
		</div>
		<div class="span4">
			<a href="#reminder-edit-modal" class="btn btn-primary edit-reminders">Ändra påminnelser</a>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h5>Dina påminnelser</h5>
			<table class="table default-reminder-list">
				<tbody>
					<%= render :partial => 'reminder_list', :locals => {:user => current_user} %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="reminder-edit-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Editera påminnelser</h3>
  </div>
  <div class="modal-body">
    <p>Här kan du ändra dina standardpåminnelser. Ändringarna börjar gälla så fort du trycker på spara.</p>
    <div style="width:300px;margin:20px auto;">
    	<table class="table reminder-edit-table">
    	</table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Avbryt</button>
    <button class="btn save-reminders-btn btn-primary">Spara</button>
  </div>
</div>



<script type="text/html" id="reminder-edit-row">
    		<tr class="reminder-edit-row">
    			<td style="width:155px">
	    			<input type="text" maxlength="2" class="input-mini reminder-time-input" />
  	  			<select class="reminder-input-select">
    					<option value="m">minuter innan</option>
    					<option value="h">timmar innan</option>
    					<option value="d">dagar innan</option>
    				</select>
    			</td>
    			<td>
    				<div class="pull-right btn-group edit-btn-row">
    					<button type="button" class="btn-mini btn remove-reminder"><i class="icon-remove"></i></button>
    					<button type="button" class="btn-mini btn add-reminder"><i class="icon-plus"></i></button>
    				</div>
    			</td>
    		</tr>
</script>

<script type="text/html" id="reminder-placeholder-row-tmpl">
	<tr class="placeholder-row">
  	<td>
  		Inga påminnelser är tillagda än.
  		<br /><br />
  		<center>
	  		<a href="#" class="btn btn-small add-reminder"><i class="icon-plus"></i> Lägg till</a>
  		</center>
  	</td>
  </tr>
</script>

<script type="text/html" id="reminder-placeholder-row-tmpl">
	<tr class="placeholder-row">
  	<td>
  		<center>
	  		<a href="#" class="btn btn-small add-reminder"><i class="icon-plus"></i> Lägg till</a>
  		</center>
  	</td>
  </tr>
</script>

<script type="text/html" id="reminder-row-section">
<tbody>
{{#reminders}}
<tr class="reminder-edit-row">
	<td style="width:155px">
		<input type="text" maxlength="2" value="{{exponent}}" class="input-mini reminder-time-input" />
		<select class="reminder-input-select">
		  <option value="m" {{#is_minute}}selected{{/is_minute}} >minuter innan</option>
		  <option value="h" {{#is_hour}}selected{{/is_hour}} >timmar innnan</option>
	  	<option value="d" {{#is_day}}selected{{/is_day}} >dagar innnan</option>
		</select>
	</td>
	<td>
		<div class="pull-right btn-group edit-btn-row">
			<button type="button" class="btn-mini btn remove-reminder"><i class="icon-remove"></i></button>
			<button type="button" class="btn-mini btn add-reminder"><i class="icon-plus"></i></button>
		</div>
	</td>
</tr>
{{/reminders}}
{{#no_reminders}}
	<tr class="placeholder-row">
  	<td>
  		<center>
	  		<a href="#" class="btn btn-small add-reminder"><i class="icon-plus"></i> Lägg till</a>
  		</center>
  	</td>
  </tr>
{{/no_reminders}}
</tbody>
</script>
<% end %>

<% content_for :script_files do %>
	<%= javascript_include_tag 'settings' %>
<% end %>