<p>Hej <%= @resource.user_identifier %>!</p>

<p>Du har blivit tillagd och får nu läsa <%= @form.user_identifier %>'s kalender. Logga in och använd kalendern på <%= link_to 'Remindme', root_path(:only_path => false, :host => configatron.app.url) %> </p>

<p>Om du inte vill ha tillgång till den kalendern så ignorera bara det här mailet.</p>
