Hej <%= @resource.email %>!

Du har blivit inbjuden till RemindMe,  klicka på länken nedan för att acceptera inbjudningen. 

<%= link_to 'Acceptera inbjudan', accept_user_invitation_url(@resource, :invitation_token => @resource.invitation_token,:host => configatron.app.url) %>

Om du inte vill ha den här inbjudan så ignorera bara det här mailet.
