<p>Hej <%= @resource.user_identifier %>!</p>

<p>Någon har begärt en länk för att uppdatera ditt lösenord. </p>

<p><%= link_to 'Ändra ditt lösenord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token,:host => configatron.app.url) %></p>

<p>Om det inte var du som begärde ändringen så ignorera bara det här epostet.</p>
<p>Ditt lösenord ändras inte förän du klickar på länken ovan och väljer ett nytt lösenord</p>
