<p>Hej <%= @resource.user_identifier %>!</p>

<p>Du har blivit inbjuden till RemindMe att jobba som stödperson,  klicka på länken nedan för att acceptera inbjudningen. </p>

<p><%= link_to 'Acceptera inbjudan', accept_user_invitation_url(@resource, :invitation_token => @resource.raw_invitation_token, :only_path => false,:host => configatron.app.url) %></p>

<p>Om du inte vill ha den här inbjudan så ignorera bara det här mailet.</p>
