Hej <%= @resource.user_identifier %>!

Du har blivit inbjuden till RemindMe att läsa någons kalender,  klicka på länken nedan för att acceptera inbjudningen. 

<%= link_to 'Acceptera inbjudan', accept_user_invitation_url(@resource, :invitation_token => @resource.raw_invitation_token, :only_path => false,:host => configatron.app.url) %>

Om du inte vill ha den här inbjudan så ignorera bara det här mailet.
