<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RemindMe</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700' rel='stylesheet' type='text/css'>

	  <%= csrf_meta_tags %>
	  <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag "fullcalendar.print", :media => "print" %>

    <%= yield :header %>


    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->



    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
  </head>

  <body>

  <%= csrf_meta_tags %>
</head>
<body>
	 
	<% if user_signed_in? %>
		<%= render :partial => 'layouts/shared/header' %>
	<% end %>

  <div class="container">
	<%= yield %>

  </div>
<footer class="footer" style="background-color: whiteSmoke;"> <div class="container"> <p class="pull-right"><a href="#">Back to top</a></p> <p> Original idea: <a href="http://www.isv.liu.se/medarbetare-vid-isv/hemmingsson-helena?l=en">Helena Hemmingsson, Linköpings Universitet</a>. Developed by: <a href="http://www.monkeydancers.com">Monkeydancers AB</a><br> © 2012 Monkeydancers AB, All rights reserved. </p> </div> </footer>

<%= javascript_include_tag 'application' %>
<%= yield :script_files %>
<script>
	<%= yield :page_script %>
</script>
</body>
</html>
