<p>Hej <%= @resource.email %>!</p>

<p>Du har blivit inbjuden till RemindMe,  klicka på länken nedan för att acceptera inbjudningen. </p>

<p><%= link_to 'Accept invitation', accept_user_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>Om du inte vill ha den här inbjudan så ignorera bara det här mailet.</p>
