
<div class="login" style="display: block">

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

<fieldset>
            <legend>Välj ditt lösenord!</legend>
            <div class="clearfix">
              <label for="xlInput">Lösenorg</label>
              <div class="input">
                <%= f.password_field :password, {:class => 'xlarge'} %>
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <label for="xlInput">Lösenord igen:</label>
              <div class="input">
                <%= f.password_field :password_confirmation, {:class => 'xlarge'} %>
              </div>
            </div><!-- /clearfix -->
           	
            <div class="clearfix">
            	<label for="xlInput"></label>
              	<div class="input">
                	<input type="submit" class="btn primary" value="Sätt Lösenord">
        	   	</div>
        	</div>
      
  </fieldset>
<% end %>

</div>