<div class="white-form-box">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <fieldset>
              <legend>Ändra ditt lösenord</legend>

	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>
		 <div class="clearfix">
              <label for="xlInput">Nytt Lösenord</label>
              <div class="input">
                <%= f.password_field :password, {:class => 'xlarge'} %>
              </div>
            </div><!-- /clearfix -->
		 <div class="clearfix">
              <label for="xlInput">Upprepa nytt Lösenord</label>
              <div class="input">
                <%= f.password_field :password_confirmation, {:class => 'xlarge'} %>
              </div>
            </div><!-- /clearfix -->

	 <div class="clearfix">
            	<label for="xlInput"></label>
              	<div class="input">
                	<input type="submit" class="btn primary" value="Uppdatera lösenord">
        	   	</div>
        	</div>


	</fieldset>
<% end %>

<%= render "devise/shared/links" %>


</div>