
<div class="white-form-box">


  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
      <fieldset>

              <legend>Glömt ditt lösenord? Inga problem!</legend>

              <div class="clearfix">
                <label for="xlInput">E-post:</label>
                <div class="input">
                  <%= f.email_field :email, {:class => 'xlarge'} %>
                </div>
            </div>

   <div class="clearfix">
              	<label for="xlInput"></label>
                	<div class="input">
                  	<%= f.submit "Skicka mig instruktioner", :class => 'btn primary' %>
          	   	</div>
          	</div>
  </fieldset>

  <% end %>

  <%= render "devise/shared/links" %>

</div>