<div class="clearfix <%= @terapeut.errors[:name].empty? ? '' : 'error' %>">
  <label for="xlInput">Namn</label>
  <div class="input">
		<%= text_field :terapeut, :name, {:class => "xlarge", :size => 50} %>
		<% if !@terapeut.errors[:name].empty? %>
    	<span class="help-inline">Namn får inte vara blankt.</span>    
		<% end %>
  </div>
</div>
<div class="clearfix <%= @terapeut.errors[:email].empty? ? '' : 'error' %>">
  <label for="xlInput">Email</label>
  <div class="input">
		<%= text_field :terapeut, :email, {:class => "xlarge", :size => 50} %>
		<% if !@terapeut.errors[:email].empty? %>
    	<span class="help-inline"><%= @terapeut.errors.full_messages_for(:email).to_sentence %>.</span>    
		<% end %>
  </div>
</div>

<div class="clearfix <%= @terapeut.errors[:phone].empty? ? '' : 'error' %>">
  <label for="xlInput">Telefon</label>
  <div class="input">
		<%= text_field :terapeut, :phone, {:class => "xlarge", :size => 50} %>
		<% if !@terapeut.errors[:phone].empty? %>
    	<span class="help-inline">Telefonnummer får inte vara blankt.</span>    
		<% end %>
  </div>
</div>
