<div class="span11">

	<a href="<%= remove_admin_terapeut_path %>" onclick="return confirm('Are you sure? ')" class="btn danger" style="float: right;">Ta bort</a>

	<h1>Editera <%= @terapeut.name %></h1>
	<p>
		Ett email skickas till stödpersonen med en länk för aktivering. Du behöver inte göra
		något mera.
	</p>
	<br />
	<div class="well">

		<%= form_tag admin_terapeut_path(@terapeut), :method => :put do %>
		<fieldset>
			<legend>Information</legend>
		 	<%= render :partial => 'form' %>
			<br />
			<div class="actions">
		    <input type="submit" class="btn success" value="Spara">&nbsp;<a href="<%= admin_terapeuts_path %>" class="btn">Avbryt</a>
		  </div>
		</fieldset>
		<% end %>
	</div>
</div>