<a href="<%= new_admin_terapeut_path %>" class="btn success" style="float: right;">Ny stödperson</a>

<h1>Stödpersoner</h1>
<p>Nuvarande stödpersoner i systemet, klicka på knappen brevid för att skapa en ny.</p>
<br /><br />
<table class="table table-striped span10	">
	<thead>
		<tr>
			<th>Namn</th>
			<th>Senaste inlogg</th>
			<th>Antal personer</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @terapeuts.each do |terapeut| %>
		<tr>
			<td >
					<%= terapeut.name %>
			</td>
			<td>
				<% if terapeut.last_login_at %>
					<%= time_ago_in_words(terapeut.last_login_at) %> ago
				<% else %>
					Aldrig
				<% end %>
			</td>
			<td>
				<%= terapeut.patients.count %>
			</td>
			<td>
				<% if terapeut.invitation_accepted_at.nil? %>
					-
				<% else %>
					Aktiv
				<% end %>
			</td>	
			<td class="span5">
				<a href="<%= edit_admin_terapeut_path(terapeut) %>">Editera</a>
			</td>	
		</tr>
		<% end %>
	</tbody>
</table>
 <div class="pagination">
    <ul>
			<% if @terapeuts.previous_page %>
				<li class="prev"><a href="<%= admin_terapeuts_path(:page => @terapeuts.previous_page) %>">&larr; Previous</a></li>    	
			<% else %>
    		<li class="prev disabled"><a href="#">&larr; Previous</a></li>
			<% end %>
			<% @terapeuts.total_pages.times do |i| %>
      	<li class="<%= i+1 == @terapeuts.current_page ? 'active' : '' %>"><a href="<%= admin_terapeuts_path(:page => i+1) %>"><%= i+1 %></a></li>
			<% end %>
			<% if @terapeuts.next_page %>
    		<li class="next"><a href="<%= admin_terapeuts_path(:page => @terapeuts.next_page ) %>">Next &rarr;</a></li>			
			<% else %>
      	<li class="next disabled"><a href="#">Next &rarr;</a></li>
			<% end %>
    </ul>
  </div>