<div class="span11">

	<h1>Ny Stödperson</h1>
	<p>
		Ett email skickas till stödpersonen med en länk för aktivering. Du behöver inte göra
		något mera.
	</p>
	<br />
	<div class="well">
		<%= form_tag admin_terapeuts_path do %>
		<fieldset>
			<legend>Information</legend>
		 	<%= render :partial => 'form' %>
			<br />
			<div class="actions">
		    <input type="submit" class="btn success" value="Spara">&nbsp;<a href="<%= admin_terapeuts_path %>" class="btn">Avbryt</a>
		  </div>
		</fieldset>
		<% end %>
	</div>
</div>