<p id="message">Something went wrong, we couldn't establish a connection with Google Calendar. Try again!</p>

<script type="text/javascript">
	window.opener.oauth_error();
	setTimeout(function(){
		window.close(); 
	}, 3000); 
</script>