<html>
<head>
	<title>Remind.me</title>
	<style type="text/css">
		.loader{
			width:54px;
			height:55px;
			display:block;
			margin:50px auto;
		}
		p{
			margin:40px 30px;
			text-align:center;
			font-family:'Helvetica';			
			font-size:18px;
		}
	</style>
</head>
<body>
	<%= yield %>
</body>
</html>