<p id="message">Verifying connection with Google Calendar...</p>
<img src="<%= asset_path 'metal/loader.gif' %>" class="loader" />

<script type="text/javascript">
	window.opener.oauth_success();
	setTimeout(function(){
		document.getElementById('message').innerHTML = 'Connection verified!'
		setTimeout(function(){
			window.close(); 
		}, 2000); 
	}, 2000); 
</script>