<div class="navbar header-menu">
	<div class="navbar-inner">
  
			<% if session[:in_session] %>
			
				<a class="brand" href="/dashboard"><img src="<%= asset_path 'topbar/logo.png' %>" alt="" /></a>
			<% else %>
				<a class="brand" href="/dashboard"><img src="<%= asset_path 'topbar/logo.png' %>" alt="" /></a>
			<% end %>
			<ul class="nav">
				<% if current_user.has_role?(:admin) %>
				<li class="<%= highlight(params[:controller], /patient/, 'active') %>"><a href="<%= patients_path %>">Patienter</a></li>
				<li class="<%= highlight(params[:controller], /terapeuts/, 'active') %>"><a href="<%= admin_terapeuts_path %>" >Stödpersoner</a></li>
				<% elsif current_user.has_role?(:terapeut) %>
				<li class="<%= highlight(params[:controller], /dashboard/, 'active') %>"><a href="/dashboard">Mina sidor</a></li>
				<li class="<%= highlight(params[:controller], /patient/, 'active') %>"><a href="/patients" >Användare</a></li>
				<!-- <li class="<%= highlight(params[:controller], /group/, 'active') %>"><a href="/groups" >Grupper</a></li> -->
				<% elsif current_user.has_role?(:user) %>
				<% if session[:in_session] %>
				<li>
					<a href="<%= patient_path(@current_user) %>"><%= current_user.name %></a>
				</li>
				<% end %>
				<li class="<%= highlight(params[:controller], /calendar/, 'active') %>"><a href="/calendar"  >Kalender</a></li>
				<li class="<%= highlight(params[:controller], /statistic/, 'active') %>"><a href="/statistics">Statistik</a></li>
				<% end %>
			</ul>
			<% if current_user.has_role?(:admin) || current_user.has_role?(:terapeut) %>
			<form class="nav pull-right" style="margin: 10px 0px 0px 10px;float:right;display:block" action="">
				<input type='text' class='ajax-typeahead' data-link='/search' />

			</form>
			<% end %>
			<ul class="nav secondary-nav pull-right">
				<li class="dropdown" data-dropdown="dropdown" >
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %></a>
					<ul class="dropdown-menu">
						<li><a href="#">Hjälp*</a></li>
						<li><a href="mailto:vedrana.bolic@liu.se">Kontakt</a></li>
						<li><a href="/settings">Inställningar</a></li>
						<li class="divider"></li>
						<li><a href="/logout">Logga ut</a></li>
					</ul>
				</li>
			</ul>

	</div>
</div>

