<div class="page-header">
	<h1>Statistik <small>Följ upp hur det går, tävla mot dig själv</small></h1>
</div>
<div class="row select-date-range">
	<ul class="nav nav-pills">
		<li style="width: 80px">
			<h3>Urval:</h3>
		</li>
		<li class="<% if params[:from] == "this_week"%> active <% end %> period-tag"> <a href="/statistics/people/<%= params[:people] || current_user.id %>/from/this_week">Den här veckan</a></li>
		<li class="<% if params[:from] == "last_week"%> active <% end %> period-tag"><a href="/statistics/people/<%= params[:people] || current_user.id %>/from/last_week">Förra veckan</a></li>
		<li class="<% if params[:from] == "this_month"%> active <% end %> period-tag"><a href="/statistics/people/<%= params[:people] || current_user.id %>/from/this_month">Den här månaden</a></li>
		<li class="<% if params[:from] == "last_month"%> active <% end %> period-tag"><a href="/statistics/people/<%= params[:people] || current_user.id %>/from/last_month">Förra månaden</a></li>
		<li><a href="#">
			Från: 
			<input class="input-mini" type="text" id="start_date" value="<%= @start_date.to_date.to_s(:db) %>" style="width: 80px; margin-top: 6px">
			till
			<input class="input-mini" type="text" id="end_date" value="<%= @end_date.to_date.to_s(:db) %>"  style="width: 80px;margin-top: 6px"> 

			<button  onclick="location.href= '/statistics/people/<%= params[:people] || current_user.id %>//from/' + $('#start_date').val() + '/to/' + $('#end_date').val() " class="btn small" style="margin-top: -7px;">Visa</button></a>
		</li>
	</ul>
</div>

<% if  @report.nil? %>  
<div class="row">
	<h3>Du hade inte tillgång till någon av användarna du begärde statistik för </h3>
</row>

<% else %>
<div class="row">
	<h2>Statistik för: <%= @date_string %> - <%= @report.events.count%> händelser </h2>
	<% if @report.users.first != current_user || @report.users.length > 1 %>
	För användarna: <% @report.users.each do |u| %> <%= u.user_identifier %> <% end %> 
	<% end %>

	<% if @report.events.empty? %>
		<p>Inga händelser hittades den valda perioden.</p>
	<% else %>
		<p>På <b><%= @report.num_events %></b> händelser behövdes det <b><%= @report.num_events %></b> påminnelser för att svara på <b><%= (@report.num_yes_answers + @report.num_declined_answers) %></b> av händelsernas påminnelser. <!-- Det är <b><%= 0%></b> bättre än samma föregående period. --> Den genomsnittliga responstiden på en påminnelse var <b><%= @report.response_average  / 60 %> minuter</b>.  </p>
		<p>
			Vid jämförelsen jämförde vi med perioden <a href="/statistics/people/<%= params[:people] %>/from/<%=  @compare_period_report.start.to_date.to_s(:db) %>/to/<%=  @compare_period_report.stop.to_date.to_s(:db) %>"><b><%=  @compare_period_report.start.to_date.to_s(:db) %> - <%=  @compare_period_report.stop.to_date.to_s(:db) %></b></a></b> 
		</p>

		</div>
		
		<div class="row">
			<div class="span3">
				<h4>Dina Svar</h4>
				<div id="holder" style="height: 200px; width: 200x; "></div>
			</div>
			<div class="span3">
				<h4>Svarsfrekvens</h4>                           
				<%= @comparison.comparison_successfull ? trend_sign( @comparison.answer_freq_trend ) : trend_sign( nil) %>
				<h3><%= (100 * (@report.num_answered.to_f / @report.num_events.to_f ).to_f).round %>% <!--<small>2%* sämre</small>--></h3>
				<p>Totalt svarade du på <b><%= @report.num_answered %></b> av <b><%= @report.num_events %></b> inlaggda händelser.</p>
				<% if @comparison.comparison_successfull %>
					<p>Förra perioden hade en svarsfrekvens på <b><%= (100 * (@compare_period_report.num_answered.to_f / @compare_period_report.num_events.to_f ).to_f).round %>% </b> av de <b><%= @compare_period_report.num_events %></b> händelserna </p>
				<% end %>
			</div>
			<div class="span3">
				<h4>Svarshastighet </h4>     
				<%= @comparison.comparison_successfull ? trend_sign( @comparison.answer_speed_trend ) : trend_sign( nil) %>

				<h3><%=  (@report.response_average.to_f / 60).floor %></b> min <b><%= @report.response_average % 60 %></b> sek </h3>
				<p>I genomsnitt svarade du på <b><%=  (@report.response_average.to_f / 60).floor %></b> minuter och <b><%= @report.response_average % 60 %></b> sekunder </p>
				<% if @comparison.comparison_successfull %>
					<p>Förra perioden hade en svarshastighet på <b><%=  (@compare_period_report.response_average.to_f / 60).floor %></b> minuter och <b><%= @compare_period_report.response_average % 60 %></b> sekunder</p>
				<% end %>
			</div>
			<div class="span3">
				<h4>Händelser skapade:</h4>

				<div id="where_holder" style="height: 200px; width: 200x; "></div>

			</div>
		</div>

		<div class="row">
			Sortera på: <a href="#" class="sort-on-date"> Datum </a>  - <a href="#" class="sort-on-answer"> Svar</a>
		</div>
		<div class="row calendar-list">
			<% day = @report.events.first.start - 2.days%>

			<% if ! @report.nil? && ! @report.events.nil? %> 
				<% @report.events.each do |e|%>

					<% if e.start > day.end_of_day() %>
						<% day = e.start%>
						<h4 style="clear: both" class="header" data-date="<%= e.start.strftime('%Y-%m-%d')%>"><%= e.start.strftime('%A %d %B, %Y')%></h4>			
					<% end %>

					<% if e.start > day.end_of_day() %>
						<% day = e.start%>
						<h4 style="clear: both" class="header" data-date="<%= e.start.strftime('%Y-%m-%d')%>">
							<%= e.start.strftime('%A %d %B, %Y')%>
						</h4>			
					<% end %>

					<div class="well span12 calendar-list-view-item" data-date="<%= e.start.localtime.strftime('%Y-%m-%d')%> " data-answer="<%= e.reminder_status %>">
						<div class="sent-notifications">
							<p>
								<small>
									<%if ! e.response_time_in_sec.nil? %><%= e.num_reminders_required %> av <%= e.num_reminders %>, <%= e.response_time_in_sec / 60  %> minuter
									<% else %>
									obesvarad
									<% end %>

								</small>
							</p>
						</div> 

						<div class="answer <% if e.answer_yes? %> yes <% elsif e.answer_no? %>no<% else %>no-answer<% end %> "></div> 
						<div class="event-content">
							<h4>
								<small>
								<% if ! e.start.nil?  %>
									<%= e.start.localtime.strftime('%Y-%m-%d %H:%M')%><% end %>-<% if ! e.end.nil?  %><%= e.end.localtime.strftime('%H:%M')%><% end %>
								</small> 
								<%= e.name %>  
								<small> 
									@ <%= e.place %> - Tillaggt av: <%= e.creator.name %>
								</small>
							</h4>
						</div>
					</div>
				<% end %>

			</div>
			</div>

	 	<% end %>
 	<% end %>
	</div>
	<% content_for :header do %>
 		<%= stylesheet_link_tag 'statistics' %>
 	<% end %>

	<% content_for :script_files do %>
		<%= javascript_include_tag 'statistics'%>
		<%= javascript_include_tag 'jquery.tinysort'%>

	<% end %>

	<% content_for :page_script do %>
		<% unless @report.events.empty? %>
			$(document).ready(function() {
				setup(
					[<%=  @report.created_by_patient  %> + 0.0001, <%= @report.created_by_other  %> + 0.0001], 
					[<%=  @report.num_yes_answers  %> + 0.001, <%= @report.num_declined_answers  %> + 0.001,<%= @report.num_no_answers  %>]
				); 
			});
		<% end %>
	<% end %>
<% end %>
