
<%= stylesheet_link_tag 'fullcalendar' %>

<% unless current_user == @active_calendar %>
  <div class="row">
  <h2>Du använder nu kalendern som tillhör: <%= @active_calendar.user_identifier %> </h2>
  </div>
<% end %>
<div class="row">
	<div id='calendar'></div>
</div>

<div class="modal hide" id="event-edit-modal">
  <div class="modal-content"></div>
</div>

<script type="text/html" id="reminder-row-tmpl">
	<tr class="reminder-edit-row">
		<td>
			<input type="text" maxlength="2" class="input-mini reminder-time-input" />
			<select class="reminder-input-select">
				<option value="m">minuter innan</option>
				<option value="h">timmar innan</option>
				<option value="d">dagar innan</option>
			</select>
			<br class="clearFix" style="line-height:0px;clear:both" />
			<div class="reminder-time-hint">
				(23:12)
			</div>
		</td>
		<td>
			<div class="pull-right btn-group edit-btn-row">
				<button type="button" class="btn-mini btn remove-reminder"><i class="icon-remove"></i></button>
				<button type="button" class="btn-mini btn add-reminder"><i class="icon-plus"></i></button>
			</div>
		</td>
	</tr>
</script>

<script type="text/html" id="reminder-placeholder-row-tmpl">
	<tr class="placeholder-row">
  	<td>
  		Inga påminnelser är tillagda än.
  		<br /><br />
  		<center>
	  		<a href="#" class="btn btn-small add-reminder"><i class="icon-plus"></i> Lägg till</a>
  		</center>
  	</td>
  </tr>
</script>

<script type="text/html" id="event-show-tmpl">
  <div class="event-show-popover">
    {{#editable}}
      <a href="#" class="popover-edit-link">Edit</a>
    {{/editable}}
    <div class="info" style="display:block">
      <h4>{{title}}&nbsp;<span class="event-location">- {{place}}</span></h4>
      <p class="show-date-string">{{formattedStartDate}}</p>
    </div>
  </div>
</script>

<script type="text/html" id="recurring-edit-tmpl">
  <div class="recurring-event-edit-popover span3">
    <p>Den här händelsen upprepas, vill du ändra alla eller bara den enskilda?</p>
    <center>
      <input type="button" class="btn all-events" value="Alla" />
      <input type="button" class="btn single-event" value="Enskilda" />
    </center>
    <br />
  </div>
</script>


<script type="text/html" id="event-tmpl">
	<div class="modal-content">
	<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{event_name}}</h3>
  </div>
  <div class="modal-body">
 	 <div class="row">
  		<div class="span4">
  			  	<form class="event-modal-form form-horizontal" id="event_popover_form_{{_id}}">
  			   		<div class="control-group">
  			 	  		<div class="control-label">
  			   				<label for="xlInput">Händelse</label>
  			   			</div>
  			   			<div class="controls">
  			   				<input class="span3 name-field" placeholder="Picknick i det gröna" type="text" value="{{title}}" />
  			   			</div>
  			   		</div> 	
              <div class="control-group">
                <div class="control-label">
                  <label for="xlInput">Plats</label>
                </div>
                <div class="controls">
                  <input class="span3 place-field" placeholder="I parken" id="xlInput" name="xlInput" size="30" type="text" value="{{place}}" />
                </div>
              </div>

  			  		<!-- Start time -->
  			  		<div class="control-group">
  			  			<div class="control-label">
  			  				<label for="xlInput">Start: </label>
  			  			</div>
  			  			<div class="controls">
  			  				<input class="start-hour-field hour-field start-time-field" maxlength="2" id="smallInput" style="width:17px" name="xlInput" size="5" type="text" value="{{start_hh}}" />
  			  				:
  			  				<input class="start-minute-field minute-field start-time-field" maxlength="2" id="smallInput" style="width:17px" name="xlInput" size="5" type="text" value="{{start_mm}}" />
  			  			</div>
  			  		</div>
  			  		<!-- End time -->
  			  		<div class="control-group">
  				  		<div class="control-label">
  			  				<label for="xlInput">Slut: </label>
  			  			</div>
  			  			<div class="controls">
  			  				<input class="end-hour-field hour-field" id="smallInput" maxlength="2" style="width:17px" name="xlInput" size="5" type="text" value="{{end_hh}}" />
  			  				:
  			  				<input class="end-minute-field minute-field" id="smallInput" maxlength="2" style="width:17px" name="xlInput" size="5" type="text" value="{{end_mm}}" />
  			  			</div>
  			  		</div>
  			  		
   			  		<div class="control-group">
  				  		<div class="control-label">
  			  				<label for="xlInput">Repetera</label>
  			  			</div>
  			  			<div class="controls">
  			  				<select class="recurrence-key">
  			  					<option value="n" {{#is_not_recurring}}selected{{/is_not_recurring}}>Nej</option>
  			  					<option value="d" {{#is_daily}}selected{{/is_daily}}>Varje dag</option>
                    <option value="wd" {{#is_workdays}}selected{{/is_workdays}}>Varje vardag</option>
  			  					<option value="we" {{#is_weekly}}selected{{/is_weekly}}>Varje vecka</option>
  			  				</select>
  			  			</div>
  			  		</div>
              <div class="control-group">
                <div class="control-label">
                  <label for="xlInput">Personer</label>
                </div>
                <div class="controls" style="width:250px">
                  <input class="span3 person-field" placeholder="Micke, Lina..." type="text" />
                </div>
              </div>
  			  	</form>
  		</div>
  		<div class="span4">
        <h4>Påminnelser</h4>

        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-small {{^skip_reminders}}active{{/skip_reminders}}">På</button>
          <button type="button" class="btn btn-small {{#skip_reminders}}active{{/skip_reminders}}">Av</button>
        </div>

  			<table class="table edit-reminder-table">
  			<thead>
  				<tr>
	  				<th>
			  			Påminn mig innan <span class="current-start-time">{{start_hh}}:{{start_mm}}</span>
			  		</th>
			  		<th></th>
		  		</tr>
  			</thead>
  			<tbody class="reminder-list-body">
          {{#reminders_empty}}
  				<tr class="placeholder-row">
  				<td>
  						Inga påminnelser är tillagda än.
  						<br /><br />
  						<center>
	  						<a href="#" class="btn btn-small add-reminder"><i class="icon-plus"></i> Lägg till</a>
  						</center>
  					</td>
  				</tr>
          {{/reminders_empty}}
          {{#reminders}}
          <tr class="reminder-edit-row">
            <td>
              <input type="text" maxlength="2" value="{{exponent}}" class="input-mini reminder-time-input" />
              <select class="reminder-input-select">
                <option value="m" {{#is_minute}}selected{{/is_minute}} >minutes before</option>
                <option value="h" {{#is_hour}}selected{{/is_hour}} >hours before</option>
                <option value="d" {{#is_day}}selected{{/is_day}} >days before</option>
              </select>
              <br class="clearFix" style="line-height:0px;clear:both" />
              <div class="reminder-time-hint">
                (23:12)
              </div>
            </td>
            <td>
              <div class="pull-right btn-group edit-btn-row">
                <button type="button" class="btn-mini btn remove-reminder"><i class="icon-remove"></i></button>
                <button type="button" class="btn-mini btn add-reminder"><i class="icon-plus"></i></button>
              </div>
            </td>
          </tr>
          {{/reminders}}
  			</tbody>
  			</table>
  		</div>  	
	  </div>
  </div>
  <div class="modal-footer">
  		<button class="btn btn-danger delete">Ta bort</button>
  		&nbsp;
  		<button class="btn btn-success save">Spara</button>
  </div>
  </div>
</script>

<% content_for :script_files do %>
	<%= javascript_include_tag 'calendar.js' %>
<% end %>

<% content_for :page_script do %>
window.event_data = <%= raw @events.to_json %>;

      <% if @active_calendar.nil? %>
          window.calendar_base_url = '/calendar';
      <% else %>
          window.calendar_base_url = '/calendars/<%= @active_calendar.id %>';
      <% end %>
  

function validateTimeLikeApple(e, maxNum){ 
	var elm = 		$(e.target);
	var value 		= elm.val();
	var keyPressed 	= String.fromCharCode(e.which);


	// let space . : and left arrow and tab move to next field
	if(e.keyCode == 39 || e.keyCode == 32 || e.keyCode == 190 || e.keyCode == 196 ){
		elm.next('input, select').focus();
		e.preventDefault();
		return true;
	}

	// Check that the entered key is a number
	if((e.keyCode > 47 && e.keyCode < 58) || (e.keyCode > 95 && e.keyCode < 106) || e.keyCode == 8 || e.keyCode == 9){
		// Backspace
		if(! e.keyCode == 8 || e.keyCode == 9){
			// Allways allow backspace and tab
		} else {
			if(value.length > 1 || ((parseInt(value) * 10) + parseInt(keyPressed)) > maxNum){
				elm.val(keyPressed);
				e.preventDefault();
			}
		}
	} else {
		console.log("Uknown key");
		e.preventDefault();
	}
}


$(document).ready(function() {
	// Initialize the fullCalendar
	make_calendar();

});
<% end %>