<p>Hej <%= @resource.email %>!</p>

<p>Du har blivit inbjuden till remind me <%= root_url %>, du kan acceptera inbjudan genom att klicka på länken nedan.</p>

<p><%= link_to 'Acceptera inbjudan', accept_user_invitation_url(@resource, :invitation_token => @resource.invitation_token, :host => configatron.app.url) %></p>

<p>Om du inte vet vad Remindme är eller inte vill ha den här inbjudan ta bara bort mailet. <br />
</p>
