  <% if flash[:error] %>
    <p class ="clearfix error"><%= flash[:error] %></p>
  <% end %>

	<div class="clearfix <%= @patient.errors[:name].empty? ? '' : 'error' %>">
    <label for="xlInput">Namn</label>
    <div class="input">
			<%= text_field :patient, :name, {:class => "xlarge", :size => 50} %>
			<% if !@patient.errors[:name].empty? %>
      	<span class="help-inline">Namn får inte vara blankt.</span>    
			<% end %>
    </div>
  </div>
	<div class="clearfix <%= @patient.errors[:email].empty? ? '' : 'error' %>">
    <label for="xlInput">Email</label>
    <div class="input">
			<%= text_field :patient, :email, {:class => "xlarge", :size => 50} %>
			<% if !@patient.errors[:email].empty? %>
        <% if User.find_by_email(@patient.email) %>
          <span class="help-inline">Email måste vara unik </span>
        <% else %>
        	<span class="help-inline">Email måste vara valid, och får inte vara blank.</span>    
        <% end %>
			<% end %>
    </div>
  </div>
	<div class="clearfix <%= @patient.errors[:phone].empty? ? '' : 'error' %>">
    <label for="xlInput">Telefon</label>
    <div class="input">
			<%= text_field :patient, :phone, {:class => "xlarge", :size => 50} %>
			<% if !@patient.errors[:phone].empty? %>
      	<span class="help-inline">Telefonnummer får inte vara blankt.</span>    
			<% else %>				
      	<span class="help-inline">Påminnelser skickas till det här numret!</span>    
			<% end %>
    </div>
	</div>
