<% user.default_reminders.each do |reminder| %>
	<tr data-exponent="<%= reminder.exponent %>" data-multiplier="<%= reminder.multiplier %>">
		<td><i class="icon-bell"></i></td>
		<td><%= reminder.to_s %></td>
	</tr>
<% end %>