<h1>Aktivera <%= @patient.name %></h1>
<p class="span10">
	Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>
<br />
<ul class="tabs">
	<li class="active"><a href="#email">Aktivera per email</a></li>
	<li><a href="#immediate">Aktivera omedelbart</a></li>
</ul>


<div class="tab-content">
	
	<div id="immediate" class="tab-pane">
			<%= form_tag activate_patient_path(@patient) do %>
			<fieldset>
				<legend>Aktivera omedelbart</legend>
				<div class="clearfix">
					<label>Lösenord</label>
					<div class="input">
						<%= password_field :activation, :password, {:class => "xxlarge", :size => 50} %>
						<br />
		      	<span class="help-inline">Tänk på att välja ett lösenord du kommer ihåg, men som är svårt att gissa!</span>    
					</div>
				</div>
				<div class="clearfix">
					<label for="subjectfield">Repetera lösenord</label>
					<div class="input">
						<%= password_field :activation, :password_confirmation, {:class => "xxlarge", :size => 50, :id => "subjectfield"} %>
					</div>
				</div>
				<br />
				<div class="actions">
					<input type="submit" class="btn success" value="Spara">
				</div>
			</fieldset>
			<% end %>
	</div>

	<div id="email" class="tab-pane active">
		<%= form_tag activate_patient_path(@patient) do %>
		<fieldset>
			<legend>Aktivera per email</legend>
			<div class="clearfix">
				<label>Email</label>
				<div class="input">
					<%= text_field :patient, :email, {:disabled => true, :class => "xxlarge", :size => 50} %>
				</div>
			</div>
			<div class="clearfix">
				<label for="subjectfield">Ämne</label>
				<div class="input">
					<%= text_field :activation, :subject, {:class => "xxlarge", :size => 50, :id => "subjectfield", :value => "[Remindme.com] Aktivera konto"} %>
				</div>
			</div>
			<div class="clearfix">
				<label for="bodyfield">Body</label>
				<div class="input">
					<textarea name="activation[content]" class="xxlarge" rows="9" id="bodyfield">
Hej <%= @patient.name %>, 

Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.

<%= configatron.base.url %>/activate/<%= @patient.invite_hash %>

//Remindme.com	
					</textarea>
					<span class="help-block">
						Du kan ändra allting utom själva länken som börjar med <%= configatron.base.url %>...
					</span>
				</div>
			</div>
			<br />
			<div class="actions">
				<input type="hidden" name="activation[invite_hash]" value="<%= @patient.invite_hash %>" />
				<input type="submit" class="btn success" value="Skicka">
			</div>
		</fieldset>
		<% end %>
	</div>
</div>

<% content_for :script_files do %>
<%= javascript_include_tag '/assets/bootstrap-tabs.js' %>
<% end %>

<% content_for :page_script do  %>
$(document).ready(function(){
	$(".tabs").tabs();
})
<% end %>