<h1><%= @patient.name %></h1>
	<ul class="tabs nav nav-tabs">

  <li><a href="<%= patient_path(@patient) %>">Översikt</a></li>
  <li class="active"><a href="<%= edit_patient_path(@patient) %>">Editera</a></li>
<!--  <li><a href="<%= notes_patient_path(@patient) %>">Anteckningar*</a></li> -->
</ul>
<div class="span16">
	<div class="row">
	<% if flash[:error] %>
	<div class="span10 offset3">
			<div class="alert-message error">
        <p><%= flash[:error] %></p>
      </div>
	</div>
	<% end %>
	</div>
	<%= form_tag patient_path(@patient), {:method => :put, :id => "edit-patient-form"} do %>
		<fieldset>
			<legend>Editera <%= @patient.name %></legend>
   		<%= render :partial => 'form' %>
  	</fieldset>
			<br />
		<div class="actions">
      
      <a href="<%= patients_path %>" class="btn">Avbryt</a> &nbsp; <input type="submit" class="btn success" value="Spara">
    </div>
	<% end %>
	<fieldset>
		<legend>Påminnelser</legend>
		<div id="default-reminder-section">
		  <div class="row">
		    <div class="span6">
		      <p>
		        Du kan sätta standardpåminnelser som automatiskt sätts på nya händelser. 
		        Du kan när som helst ändra dina inställningar för påminnelser.
		      </p>
		    </div>
		    <div class="span4">
		      <a href="#reminder-edit-modal" class="btn btn-primary edit-reminders">Ändra påminnelser</a>
		    </div>
		  </div>
		  <div class="row">
		    <div class="span6">
		      <h5>Dina påminnelser</h5>
		      <table class="table default-reminder-list">
		        <tbody>
		          <%= render :partial => 'reminder_list', :locals => {:user => @patient } %>
		        </tbody>
		      </table>
		    </div>
		  </div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Ta bort</legend>
		<p>Var försiktig - du kan inte ångra det här och användaren och samtlig användardata tas bort omedelbart.</p>
		<a class="btn btn-primary btn-danger" onclick="return confirm('Du kan inte ändra dig?')" href="<%= delete_patient_path(@patient) %>">Ta bort patient</a>
	</fieldset>
</div>

<% content_for :page_styles do %>
	<%= stylesheet_link_tag 'tags'%>
<% end %>

<% content_for :script_files do %>
	<%= javascript_include_tag 'tags'%>
	<%= javascript_include_tag 'settings'%>
<% end %>

<% content_for :page_script do %>
	$(document).ready(function(){
		$("#edit-patient-form").submit(function(){
			var tag_val = $("#tag-field_tag").val();
			$("#tag-field").addTag(tag_val);
		});
	});
<% end %>


<div id="reminder-edit-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Editera påminnelser</h3>
  </div>
  <div class="modal-body">
    <p>Här kan du ändra dina standardpåminnelser. Ändringarna börjar gälla så fort du trycker på spara.</p>
    <div style="width:300px;margin:20px auto;">
    	<table class="table reminder-edit-table">
    	</table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Avbryt</button>
    <button class="btn save-reminders-btn btn-primary" data-edit-for="<%= @patient.id %>">Spara</button>
  </div>
</div>



<script type="text/html" id="reminder-edit-row">
    		<tr class="reminder-edit-row">
    			<td style="width:155px">
	    			<input type="text" maxlength="2" class="input-mini reminder-time-input" />
  	  			<select class="reminder-input-select">
    					<option value="m">minuter innan</option>
    					<option value="h">timmar innan</option>
    					<option value="d">dagar innan</option>
    				</select>
    			</td>
    			<td>
    				<div class="pull-right btn-group edit-btn-row">
    					<button type="button" class="btn-mini btn remove-reminder"><i class="icon-remove"></i></button>
    					<button type="button" class="btn-mini btn add-reminder"><i class="icon-plus"></i></button>
    				</div>
    			</td>
    		</tr>
</script>

<script type="text/html" id="reminder-placeholder-row-tmpl">
	<tr class="placeholder-row">
  	<td>
  		Inga påminnelser är tillagda än.
  		<br /><br />
  		<center>
	  		<a href="#" class="btn btn-small add-reminder"><i class="icon-plus"></i> Lägg till</a>
  		</center>
  	</td>
  </tr>
</script>

<script type="text/html" id="reminder-placeholder-row-tmpl">
	<tr class="placeholder-row">
  	<td>
  		<center>
	  		<a href="#" class="btn btn-small add-reminder"><i class="icon-plus"></i> Lägg till</a>
  		</center>
  	</td>
  </tr>
</script>

<script type="text/html" id="reminder-row-section">
<tbody>
{{#reminders}}
<tr class="reminder-edit-row">
	<td style="width:155px">
		<input type="text" maxlength="2" value="{{exponent}}" class="input-mini reminder-time-input" />
		<select class="reminder-input-select">
		  <option value="m" {{#is_minute}}selected{{/is_minute}} >minuter innan</option>
		  <option value="h" {{#is_hour}}selected{{/is_hour}} >timmar innnan</option>
	  	<option value="d" {{#is_day}}selected{{/is_day}} >dagar innnan</option>
		</select>
	</td>
	<td>
		<div class="pull-right btn-group edit-btn-row">
			<button type="button" class="btn-mini btn remove-reminder"><i class="icon-remove"></i></button>
			<button type="button" class="btn-mini btn add-reminder"><i class="icon-plus"></i></button>
		</div>
	</td>
</tr>
{{/reminders}}
{{#no_reminders}}
	<tr class="placeholder-row">
  	<td>
  		<center>
	  		<a href="#" class="btn btn-small add-reminder"><i class="icon-plus"></i> Lägg till</a>
  		</center>
  	</td>
  </tr>
{{/no_reminders}}
</tbody>
</script>


