<% if current_user.has_role?(:terapeut) %>
	<a href="<%= new_patient_path %>" class="btn success">Ny person</a>
<% end %>
<br /><br />
<table class="table table-striped span10	">
	<thead>
		<tr>
			<th>Namn</th>
			<th>Senaste inlogg</th>
			<th>Status</th>
			<th>Val</th>
		</tr>
	</thead>
	<tbody>
		<% @patients.each do |patient| %>
		<tr>
			<td >
				<a href="<%= patient_path(patient) %>">
					<%= patient.name %>
				</a>
			</td>
			<td>
				<% if patient.current_sign_in_at %>
					<%= time_ago_in_words(patient.current_sign_in_at) %> sedan
				<% else %>
					Aldrig
				<% end %>
			</td>
			<td>
				<% if patient.sign_in_count > 0 %>
					Aktiv
				<%  elsif patient.invitation_accepted_at.nil? %>
					Inbjuden
				<%  else %>
					N/A
				<%  end %>
			</td>	
			<td style="text-align: center;">
				<a href="<%= edit_patient_path(patient) %>">Editera</a>&nbsp;|&nbsp;
				<a href="<%= patient_path(patient) %>">Visa</a> 
			</td>	
		</tr>
		<% end %>
	</tbody>
</table>
 <div class="pagination">
    <ul>
			<% if @patients.previous_page %>
				<li class="prev"><a href="<%= patients_path(:page => @patients.previous_page) %>">&larr; Previous</a></li>    	
			<% else %>
    		<li class="prev disabled"><a href="#">&larr; Previous</a></li>
			<% end %>
			<% @patients.total_pages.times do |i| %>
      	<li class="<%= i+1 == @patients.current_page ? 'active' : '' %>"><a href="<%= patients_path(:page => i+1) %>"><%= i+1 %></a></li>
			<% end %>
			<% if @patients.next_page %>
    		<li class="next"><a href="<%= patients_path(:page => @patients.next_page ) %>">Next &rarr;</a></li>			
			<% else %>
      	<li class="next disabled"><a href="#">Next &rarr;</a></li>
			<% end %>
    </ul>
  </div>

