<div class="row">
	<div class="span11">
<h1>Ny Person</h1>
<p>
	När du skapat en person kan du antingen aktivera den på en gång, eller 
	skicka inbjudan till personens email.
</p>
<br />
<%= form_tag patients_path do %>
<fieldset>
	<legend>Information</legend>
 	<%= render :partial => 'form' %>
	<br />
	<div class="actions">
    <a href="<%= patients_path %>" class="btn">Avbryt</a> &nbsp; <input type="submit" class="btn success" value="Spara">
  </div>
</fieldset>
<% end %>

</div>