<div class="row">
<% if @patient.invitation_accepted_at.nil? %>
	<a href="<%= resend_invitation_patient_path(@patient.id) %>" class="btn" style="float: right;margin:0px 10px 0px 0px">Skicka ny inbjudan</a>

<% else %> 
	<a href="<%=  calendar_path(@patient.id) %>" class="btn" style="float: right;">Kalender</a>
	<a href="/statistics/people/<%= @patient.id %>" class="btn" style="float: right;margin:0px 10px 0px 0px">Statistik</a>
<% end %>
<h1><%= @patient.name %></h1>

<ul class="">

	<ul class="tabs nav nav-tabs">
  <li class="active"><a href="<%= patient_path(@patient) %>">Översikt</a></li>
  <li><a href="<%= edit_patient_path(@patient) %>">Editera</a></li>
<!--  <li><a href="<%= notes_patient_path(@patient) %>">Anteckningar*</a></li> -->
</ul>

<div class="span12">
	<h3>Info</h3>
	<table class="condensed-table span5">
		<tr>
			<td class="span2">Email</td>
			<td class="span3"><%= @patient.email %></td>
		</tr>
		<tr>
			<td class="span2">Telefon</td>
			<td class="span3"><%= @patient.phone %></td>
		</tr>
	</table>
</div>

</div>