<% unless notice.nil? %>
  <div class="alert fade in"> <button type="button" class="close" data-dismiss="alert">×</button> <%= notice %> </div>
<% end %>

<% unless alert.nil? %>
<div class="alert error fade in"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Nått blev fel!</strong>  <%= alert %></div>
<% end %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
            <legend>Välkommen till Remind Me!</legend>
            <div class="clearfix">
              <label for="xlInput">E-post:</label>
              <div class="input">
                <%= f.email_field :email, {:class => 'xlarge'} %>
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <label for="xlInput">Lösenord</label>
              <div class="input">
                <%= f.password_field :password, {:class => 'xlarge'} %>
              </div>
            </div><!-- /clearfix -->
           	<% if devise_mapping.rememberable? -%>
	             <div class="clearfix">
	            	<div class="input" style="line-height: 28px;">            
	                	  <%= f.check_box :remember_me, {:class => 'xlarge', :style => 'margin: 0px;'}  %>&nbsp; &nbsp;Kom ihåg min inloggning
	                </div>
	            </div><!-- /clearfix -->
	        <% end %>
            <div class="clearfix">
            	<label for="xlInput"></label>
              	<div class="input">
                	<input type="submit" class="btn primary" value="Logga in">
        	   	</div>
        	</div>
      
  </fieldset>

<% end %>

<%= render "devise/shared/links" %>

