<div class="remindme-masthead">
  <div class="container">

  
    <img src="<%= asset_path 'firstpage/logo.png' %>" alt="remind me" class="logo" />
    <p class="lead">Svårt att komma ihåg hela schemat i detalj? RemindMe hjälper dig att få struktur på dagen.</p>
  </div>
</div>

<div class="login" style="display: block">
<div class="alert error fade in"> <button type="button" class="close" data-dismiss="alert">×</button> <strong>Nått blev fel!</strong> <%= notice %> <%= alert %></div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
            <legend>Välkommen till Remind Me!</legend>
            <div class="clearfix">
              <label for="xlInput">E-post:</label>
              <div class="input">
                <%= f.email_field :email, {:class => 'xlarge'} %>
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <label for="xlInput">Lösenord</label>
              <div class="input">
                <%= f.password_field :password, {:class => 'xlarge'} %>
              </div>
            </div><!-- /clearfix -->
           	<% if devise_mapping.rememberable? -%>
	             <div class="clearfix">
	          	    <label for="xlInput">Kom ihåg inloggning:</label>
	            	<div class="input">            
	                	  <%= f.check_box :remember_me, {:class => 'xlarge'}  %> 
	                </div>
	            </div><!-- /clearfix -->
	        <% end %>
            <div class="clearfix">
            	<label for="xlInput"></label>
              	<div class="input">
                	<input type="submit" class="btn primary" value="Logga in">
        	   	</div>
        	</div>
      
  </fieldset>

<% end %>

<%= render "devise/shared/links" %>


</div>