<div class="white-form-box">
<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>  <fieldset>
              <legend>Välkommen till Remind.me - Välj ditt lösenord</legend>

	  <%= devise_error_messages! %>
	    <%= f.hidden_field :invitation_token %>

    <% if resource.instance_of?(User) && resource.phone.nil? || ! User.where(:phone => resource.phone).where.not(:id => resource.id).empty? %>
         <div class="clearfix">
              <label for="xlInput">Ditt telefonnummer</label>
              <div class="input">
                <%= f.text_field :phone, {:class => 'xlarge'} %>
              </div>
            </div><!-- /clearfix -->
    <% end %> 

		 <div class="clearfix">
              <label for="xlInput">Nytt Lösenord</label>
              <div class="input">
                <%= f.password_field :password, {:class => 'xlarge'} %>
              </div>
            </div><!-- /clearfix -->
		 <div class="clearfix">
              <label for="xlInput">Upprepa nytt Lösenord</label>
              <div class="input">
                <%= f.password_field :password_confirmation, {:class => 'xlarge'} %>
              </div>
            </div><!-- /clearfix -->

                 <div class="clearfix">
                          <label for="xlInput">

                            <%= f.check_box :processing_consent_given, {:class => 'xlarge'} %>
                            &nbsp;&nbsp;
                            Jag godkänner att Remind.me hanterar mina personuppgifter


                          </label>
                        </div><!-- /clearfix -->

	 <div class="clearfix">
            	<label for="xlInput"></label>
              	<div class="input">
                	<input type="submit" class="btn primary" value="Uppdatera lösenord">
        	   	</div>
        	</div>


	</fieldset>
<% end %>

<%= render "devise/shared/links" %>


</div>